<div class="app-layout">
  <app-loading></app-loading>
  <app-site-notice></app-site-notice>
  <app-site-notice-modal></app-site-notice-modal>
  <app-header *ngIf="!isAdminRoute"></app-header>
  <app-targeted-offer *ngIf="!isAdminRoute"></app-targeted-offer>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <app-footer *ngIf="!isAdminRoute"></app-footer>
  <p-toast [position]="isAdminRoute ? 'top-center' : 'bottom-right'" [styleClass]="isAdminRoute ? 'admin-toast' : 'storefront-toast'" [life]="1000"></p-toast>
</div>
