.page-wrapper {
  background-color: var(--surface-ground);
  color: var(--text-color);
  min-height: 100vh;
  width: 100%;
}

.track-order-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.search-section {
  text-align: center;
  margin-bottom: 2rem;
}

.status-pending {
  color: orange;
}

.status-approved {
  color: blue;
}

.status-completed {
  color: green;
}

.status-deleted {
  color: red;
}

::ng-deep .p-card {
  background: var(--surface-card);
  color: var(--text-color);
}